/* body {
  /* font-family: "Noto Sans", sans-serif; }*/

/* Custom styling */

:root {
  --primaryColor: #2c5364;
  --secondaryColor: #203a43;
  --accentColor: #2dd4bf;

  --foreGroundColor: #fff;
  --pricingColor: #f9fafb;

  --buttonColor: #2c727a;
  --buttonHoverColor: #245c63;

  --footerColor: #042c29;
  --footerSecondaryColor: #022421;

  --iconColor: #0d9488;

  --textColorSecondary: #6b7280;
  --textColorPrimary: #111827;

  --linkTextColor: #22a08f;
  --linkTextHoverColor: #1a7266;

  --errorColor: #ef4444;
  --cardBgColor: #ffffff;
}

p[role="currency"] {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
div [data-slot="base"] {
  max-width: none !important;
}

/* Custom styling for NEXTUI Library */
label {
  label {
    span {
      &::after {
        background-color: var(--buttonColor) !important;
      }
      svg {
        color: white !important;
      }
    }
  }
}

img {
  -webkit-user-drag: none;
}
